<div ng:controller="ChartsCtrl">

  <div class="row bla-vsep">
    <div class="col-md-12 form-inline"> 
  
      <div class="form-group bla-rsep">
        <button class="btn btn-primary"
                title="Refresh chart"                
                ng:disabled="refreshing == true"
                ng:click="refreshChart()">
          <i ng:class="{'glyphicon-refresh-animate': refreshing == true}"
             class="glyphicon glyphicon-refresh"></i>
        </button>
      </div>

      <div class="form-group bla-rsep">
        <div ng:click="refreshChart()" class="btn-group">
          <label class="btn btn-default" ng:model="timeWindow" btn-radio="10*60">Last 10m</label>
          <label class="btn btn-default" ng:model="timeWindow" btn-radio="60*60">1h</label>
          <label class="btn btn-default" ng:model="timeWindow" btn-radio="8*60*60">8h</label>
          <label class="btn btn-default" ng:model="timeWindow" btn-radio="24*60*60">24h</label>
          <label class="btn btn-default" ng:model="timeWindow" btn-radio="48*60*60">48h</label>
          <label class="btn btn-default" ng:model="timeWindow" btn-radio="7*24*60*60">Week</label>
          <label class="btn btn-default" ng:model="timeWindow" btn-radio="'all'">All</label>
        </div>
      </div>

    </div>    
  </div>

  <!-- Chart view -->
  <div class="row bla-vsep">
    <div class="col-md-12">
      <h3 class="row">Strength chart</h3>
      <p ng:if="chartData == undefined">
        Chart data is loading...
      </p>
      <div class="row">
        <canvas width="1024" height="500"  chart:data="chartData" wifi:chart></canvas>
      </div>
    </div>
  </div>
</div>
