<div ng:controller="KnowledgeCtrl">

   <div ng:if="load_fail" class="alert alert-danger bla-vsep" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    Failed to load knowledge data.
  </div>

  <tabset>
    <!-- Knowledge table tab -->
    <tab>
      <tab-heading title="Knowledge table">
        <i class="glyphicon glyphicon-signal"></i>
      </tab-heading>
      <ng:include src="'/templates/table.html'"></ng:include>
    </tab>

    <!-- Logger -->
    <tab>
      <tab-heading title="Log">
        <i class="glyphicon glyphicon-book"></i>
      </tab-heading>

      <div class="row">
        <div class="col-md-6">
          <div ng:controller="LogCtrl">
            <p>Most recent application:</p>
            <ul class="list">
              <li ng:repeat="log in logs track by $index">{{ log }}</li>
            </ul>
          </div>
        </div>
      </div>
    </tab>
    
    <!-- All current opened data tabs -->
    <tab ng-repeat="tab in detailsTabs" active="tab.active">
      <tab-heading ng:class="{'bla-client': !tab.meta.ap,
                              'bla-ap': tab.meta.ap}">
        <i ng:if="tab.type == 'charts'" class="glyphicon glyphicon-stats"></i>
        <i ng:if="tab.type == 'graphs'" class="glyphicon glyphicon-eye-open"></i>
        <i ng:if="tab.type == 'geo'" class="glyphicon glyphicon-geo"></i>
        <i ng:if="tab.type == 'sender'" class="glyphicon glyphicon-list"></i>
        <i ng:if="tab.type == 'label'" class="glyphicon glyphicon-cog"></i>

        
        <!-- glyphicon-phone glyphicon-screenshot -->
        <i ng:if="!tab.meta.ap" class="glyphicon glyphicon-phone"></i>
        {{tab.title}}
        <a class="bla-close" ng:click="closeTab($index)"><i class="glyphicon glyphicon-remove"></i></a>
      </tab-heading>
      <ng:include ng:if="tab.type == 'sender'" src="'/templates/sender.html'"></ng:include>
      <ng:include ng:if="tab.type == 'charts'" src="'/templates/charts.html'"></ng:include>
      <ng:include ng:if="tab.type == 'graphs'" src="'/templates/graphs.html'"></ng:include>
    </tab>


  </tabset>
</div> <!-- End of knowledge ctrl -->
