<div ng:controller="TableCtrl">
  <!-- Buttons -->
  <div class="row bla-vsep">
    <div class="col-md-12 form-inline">
      <div class="form-group bla-rsep">
        
        <button ng:disabled="refreshing == true"
                class="btn btn-primary" ng:click="refreshTable()" title="Refresh data">
          <i ng:class="{'glyphicon-refresh-animate': refreshing == true}"
             class="glyphicon glyphicon-refresh"></i>
        </button>

        <button class="btn btn-primary"
                title="Packet labelling"                
                ng:click="openTab('Labeling', '', 'label')">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
      </div>

      <div class="form-group">
        <div class="input-group">
          <input name="snapshotName" placeholder="Snapshot name"
                 class="form-control" ng:model="snapshotName"></input>
          <span class="input-group-btn">
            <button class="btn btn-primary" ng:click="snapshotCreate()" title="Save presence snapshot">
              <i class="glyphicon glyphicon-floppy-save"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Options -->
  <div class="row"> 
    <div class="col-md-12">
      <div class="form-inline">
        <div class="form-group bla-vsep bla-rsep">
          <label class="control-label" for="time_window">Time window: </label>
          <div id="time_window" ng:click="refreshTable()" class="btn-group">
            <label class="btn btn-default" ng:model="timeWindow" btn-radio="10">10s</label>
            <label class="btn btn-default" ng:model="timeWindow" btn-radio="60">60s</label>
            <label class="btn btn-default" ng:model="timeWindow" btn-radio="120">2m</label>
            <label class="btn btn-default" ng:model="timeWindow" btn-radio="600">10m</label>
            <label class="btn btn-default" ng:model="timeWindow" btn-radio="3600">1h</label>
            <label class="btn btn-default" ng:model="timeWindow" btn-radio="7200">2h</label>
            <label class="btn btn-default" ng:model="timeWindow" btn-radio="28800">8h</label>
            <label class="btn btn-default" ng:model="timeWindow" btn-radio="86400">24h</label>
            <label class="btn btn-default" ng:model="timeWindow" btn-radio="0">all</label>
          </div>
        </div>      

        <div class="form-group bla-vsep bla-rsep">
          <label class="control-label" for="refresh_interval">Refresh interval:</label>
          <div id="refresh_interval" class="btn-group">
            <label class="btn btn-default" ng:model="refreshInterval" btn-radio="0.5">instant</label>
            <label class="btn btn-default" ng:model="refreshInterval" btn-radio="2">2s</label>
            <label class="btn btn-default" ng:model="refreshInterval" btn-radio="10">10s</label>
            <label class="btn btn-default" ng:model="refreshInterval" btn-radio="60">1m</label>
            <label class="btn btn-default" ng:model="refreshInterval" btn-radio="120">5m</label>
            <label class="btn btn-default" ng:model="refreshInterval" btn-radio="'pause'">pause</label>
          </div>
        </div>

        <div class="form-group bla-vsep">
          <label class="control-label" for="table_sort">Ordering:</label>
          <div id="table_sort" ng:click="refreshTable()" class="btn-group">
            <label class="btn btn-default" ng:model="sort" btn-radio="'-meta.running_str'">strength</label>
            <label class="btn btn-default" ng:model="sort" btn-radio="'-aggregate.last_seen'">last seen</label>
            <label class="btn btn-default" ng:model="sort" btn-radio="'mac'">MAC</label>
            <label class="btn btn-default" ng:model="sort" btn-radio="'-stat.all'">pkts</label>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End of Option row -->

  <div ng:if="!knowledge">
    <p>No data in specified time window, or not yet loaded</p>
  </div>

  <div ng:if="knowledge" class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th>src mac</th>
          <th>vendor</th>
          <th>last seen</th>
          <th>avg str</th>
          <th>pkts/beacs/disass</th>
          <th>ssids</th>
          <th>owner/alias</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bla-clickable"
            ng:click="openTab(host.mac, host.user.alias, 'sender', {ap: host.meta.ap})"
            ng:repeat="host in knowledge">
          <td ng:class="{'ap': host.meta.ap,
                        'client': !host.meta.ap}">
            <span class="bla-macalias" ng:if="host.alias">
              <span class="bla-alias">
                {{host.user.alias}}
              </span>
              <span class="bla-mac">
                {{host.mac}}
              </span>
            </span>
            <span ng:if="!host.alias">
              {{host.mac}}
            </span>
            <!-- TODO: Fix lat/lon/geo -->
            <span ng:if="host.meta.geo.length > 0" class="bla-geo">
              <i class="glyphicon glyphicon-map-marker"></i>
            </span>
          </td>

          <td>{{host.meta.vendor}}</td>
          <td>{{host.aggregate.last_seen*1000 | date:'HH:mm:ss'}}</td>
          <td>{{host.meta.running_str | number: 3}}</td>
          <td>{{host.stat.all}} / {{host.stat.beacons}} / {{host.stat.disass}}</td>
          <td>
            <span class="bla-probes" ng:repeat="ssid in host.aggregate.ssid_probe">{{ssid}}; </span>
            <span class="bla-beacons" ng:repeat="ssid in host.aggregate.ssid_beacon">{{ssid}}; </span>
            <span class="bla-other" ng:repeat="ssid in host.aggregate.ssid_other">{{ssid}}; </span>
          </td>
          <td>
            {{host.user.owner || '-'}} / {{host.user.alias || '-'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
