[submodule "iSniff-GPS"]
	path = iSniff-GPS
	url = https://github.com/hubert3/iSniff-GPS
[submodule "wifijammer"]
	path = wifijammer
	url = https://github.com/DanMcInerney/wifijammer
[submodule "pylorcon2"]
	path = pylorcon2
	url = https://github.com/tom5760/pylorcon2
[submodule "peapwn"]
	path = peapwn
	url = https://github.com/rpp0/peapwn
[submodule "snoopy-ng"]
	path = snoopy-ng
	url = https://github.com/sensepost/snoopy-ng
[submodule "wps"]
	path = wps
	url = https://github.com/devttys0/wps
[submodule "wpscrack"]
	path = wpscrack
	url = https://github.com/ml31415/wpscrack
[submodule "wifite"]
	path = wifite
	url = https://github.com/derv82/wifite
[submodule "eapeak"]
	path = eapeak
	url = https://github.com/securestate/eapeak
[submodule "airview"]
	path = airview
	url = https://github.com/Crypt0s/airview
[submodule "wifuzzit"]
	path = wifuzzit
	url = https://github.com/0xd012/wifuzzit
[submodule "cornuprobia"]
	path = cornuprobia
	url = https://github.com/4ZM/cornuprobia
[submodule "GrapplingHook"]
	path = GrapplingHook
	url = https://github.com/nseetharaman/GrapplingHook
[submodule "scapy-fakeap"]
	path = scapy-fakeap
	url = https://github.com/rpp0/scapy-fakeap
[submodule "probemon"]
	path = probemon
	url = https://github.com/jjb3tee3/probemon/
[submodule "wifidec"]
	path = wifidec
	url = https://github.com/twitchyliquid64/wifidec
[submodule "WPS-PIN"]
	path = WPS-PIN
	url = https://github.com/linkp2p/WPS-PIN
[submodule "airport-sniffer"]
	path = airport-sniffer
	url = https://github.com/zhovner/airport-sniffer
[submodule "waidps"]
	path = waidps
	url = https://github.com/SYWorks/waidps
[submodule "wifiphisher"]
	path = wifiphisher
	url = https://github.com/sophron/wifiphisher
[submodule "airodump-iv"]
	path = airodump-iv
	url = https://github.com/ivanlei/airodump-iv
[submodule "wraith"]
	path = wraith
	url = https://github.com/wraith-wireless/wraith
[submodule "scapy-rssi"]
	path = scapy-rssi
	url = https://github.com/azz2k/scapy-rssi
[submodule "wireless-radar"]
	path = wireless-radar
	url = https://github.com/stef/wireless-radar
[submodule "WifiStalker"]
	path = WifiStalker
	url = https://github.com/blaa/WifiStalker
[submodule "hotspotd"]
	path = hotspotd
	url = https://github.com/prahladyeri/hotspotd
[submodule "dot11er"]
	path = dot11er
	url = https://github.com/timow/dot11er
[submodule "wifiwho"]
	path = wifiwho
	url = https://github.com/meeuw/wifiwho
[submodule "pyReaver"]
	path = pyReaver
	url = https://github.com/byt3bl33d3r/pyReaver
[submodule "WLAN-Monitoring"]
	path = WLAN-Monitoring
	url = https://github.com/sajjanbh/WLAN-Monitoring
[submodule "80211-fun"]
	path = 80211-fun
	url = https://github.com/flupzor/80211-fun
[submodule "smallWifiTools"]
	path = smallWifiTools
	url = https://github.com/3ll060/smallWifiTools
[submodule "wlan-stats"]
	path = wlan-stats
	url = https://github.com/hughobrien/wlan-stats
[submodule "wifi-monitor"]
	path = wifi-monitor
	url = https://github.com/tadashi/wifi-monitor
[submodule "wifitap"]
	path = wifitap
	url = https://github.com/viscousliquid/wifitap
[submodule "wireless-ids"]
	path = wireless-ids
	url = https://github.com/SYWorks/wireless-ids
[submodule "horst"]
	path = horst
	url = https://github.com/br101/horst
[submodule "py80211"]
	path = py80211
	url = https://github.com/0x90/py80211/
[submodule "bully"]
	path = bully
	url = https://github.com/Lrs121/bully
[submodule "WAPMap"]
	path = WAPMap
	url = https://github.com/hack1thu7ch/WAPMap
[submodule "FFT_eval"]
	path = FFT_eval
	url = https://github.com/simonwunderlich/FFT_eval
[submodule "ath9k-spectral-scan"]
	path = ath9k-spectral-scan
	url = https://github.com/kazikcz/ath9k-spectral-scan
[submodule "lorcon"]
	path = lorcon
	url = https://github.com/0x90/lorcon/
[submodule "802.11-data"]
	path = 802.11-data
	url = https://github.com/ewa/802.11-data/
[submodule "wifi-locator"]
	path = wifi-locator
	url = https://github.com/clockfort/wifi-locator
[submodule "WifiScanAndMap"]
	path = WifiScanAndMap
	url = https://github.com/cyberpython/WifiScanAndMap
[submodule "wifimonitor"]
	path = wifimonitor
	url = https://github.com/DanMcInerney/wifi-monitor
[submodule "wifi-heatmap"]
	path = wifi-heatmap
	url = https://github.com/beaugunderson/wifi-heatmap
[submodule "bunny"]
	path = bunny
	url = https://github.com/mothran/bunny
[submodule "airpwn"]
	path = airpwn
	url = https://github.com/M0Rf30/airpwn
[submodule "LANs.py"]
	path = LANs.py
	url = https://github.com/DanMcInerney/LANs.py
[submodule "haiku-wifi"]
	path = haiku-wifi
	url = https://github.com/jedahan/haiku-wifi
[submodule "wificurse"]
	path = wificurse
	url = https://github.com/oblique/wificurse
[submodule "FruityWifi"]
	path = FruityWifi
	url = https://github.com/xtr4nge/FruityWifi
[submodule "wifi"]
	path = wifi
	url = https://github.com/rockymeza/wifi
[submodule "wifi-harvester"]
	path = wifi-harvester
	url = https://github.com/SYWorks/wifi-harvester
[submodule "wifimonster"]
	path = wifimonster
	url = https://github.com/flankerhqd/wifimonster
[submodule "PyWiWi"]
	path = PyWiWi
	url = https://github.com/6e726d/PyWiWi
[submodule "wreck"]
	path = wreck
	url = https://github.com/zombiesam/wreck
[submodule "wifi_geolocation"]
	path = wifi_geolocation
	url = https://github.com/genekogan/wifi_geolocation
[submodule "wifi-network-manager"]
	path = wifi-network-manager
	url = https://github.com/vnn/wifi
[submodule "reaver-wps"]
	path = reaver-wps
	url = https://github.com/gabrielrcouto/reaver-wps
[submodule "reaver-wps-fork"]
	path = reaver-wps-fork
	url = https://github.com/flatr0ze/reaver-wps/
[submodule "wifi_localization"]
	path = wifi_localization
	url = https://github.com/utexas-air-fri/wifi_localization
