genl-ctrl-list
/nf-ct-add
nf-ct-list
nf-exp-list
nf-exp-add
nf-exp-delete
nf-log
nf-monitor
nl-addr-add
nl-addr-delete
nl-addr-list
nl-fib-lookup
nl-link-list
nl-link-ifindex2name
nl-link-name2ifindex
nl-link-set
nl-link-stats
nl-list-caches
nl-list-sockets
nl-monitor
nl-neigh-add
nl-neigh-delete
nl-neigh-list
nl-neightbl-list
nl-qdisc-add
nl-qdisc-delete
nl-qdisc-list
nl-class-add
nl-class-delete
nl-class-list
nl-cls-add
nl-cls-delete
nl-cls-list
nl-route-add
nl-route-delete
nl-route-list
nl-route-get
nl-rule-list
nl-tctree-list
nl-util-addr
nf-queue
nl-classid-lookup
nl-pktloc-lookup
nl-link-enslave
nl-link-release
idiag-socket-details
