{% extends "base.html" %}

{% block head %}
<script>
function initialize() {}
</script>
{% endblock %}

{% block content %}
    <h2>Clients probing for network {{ object|safe }} ({{ object.manufacturer }}) </h2>
    {% if object.name %}<h2>Name: <font color="green">{{object.name}}</font><p></h2>{%endif%}
<table class="bordered">
<thead>
<tr>
<th width="20%">MAC</th>
<th width="10%">Name</th>
</tr>
</thead>
    {% for c in Clients %}
<tr>
<td><a href="{% url "client" c.mac%}">{{c.mac}}</a></td>
<td>{{ c.name}}</td>
</tr>
 {% endfor %}
</table>
{% endblock %}
