{% extends "base.html" %}
{% load dict_lookup %}

{% block head %}
<script>
function initialize() {}
</script>
{% endblock %}

{% block content %}
    <h2>{{ devicecount }} devices probing for {{ apcount }} networks detected</h2>
    <table class="zebra">
    <thead>
    <tr>
        <th width="15%">SSID / BSSID</th>
        <th>Probed for by</th>
        <th width="15%">Last probed for</th>
    </tr>
    </thead>
        {% for ap in object_list %}
    <tr class="{% cycle '' 'alt' %}">
        <td>
            {% url "network" ap.BSSID as bssidurl %}
            {% url "network" ap.SSID as ssidurl %}
            <a href="{% if ap.BSSID %}{{ bssidurl }}{%else%}{{ ssidurl }}{%endif%}">
            {% if ap.BSSID %}{{ap.BSSID}}{%else%}{{ap.SSID}}{%endif%}</a>{%if ap.BSSID%} ({{ap.manufacturer}}){%endif%}
        </td>
        <td>{{ap.client.all|length}} | 
            {% for c in ap.client.all %}
                {% if forloop.counter < 6 %}{{c.mac}}{%endif%}
                {% if forloop.counter == 6 %}...{%endif%}
            {%endfor%}</td>
        <td>{{ ap.lastprobed_date }}</td> 
    </tr>
        {% endfor %}
    </table>
    </ul>
{% endblock %}
