{% extends "base.html" %}

{% block head %}
<script>
function initialize() {}
</script>
{% endblock %}

{% block content %}
    <h2>Client {{ object.mac }} ({{ object.manufacturer }}) </h2>
    {% if object.name %}<h2>Name: <font color="green">{{object.name}}</font><p></h2>{%endif%}
    Probed for:<p>
<table class="bordered">
<thead>
<tr>
<th width="20%">SSID</th>
<th width="10%">BSSID</th>
<th width="8%">Lat</th>
<th width="8%">Lon</th>
<th>Comment</th>
<th width="15%">Last probe observed</th>
<th width="5%">Locate</th>
</tr>
</thead>
    {% for ap in APs %}
<tr>
<td>{% if ap.SSID %}<a href="{% url "network" ap.SSID %}">{{ ap.SSID }}{%endif%}</a></td>
<td>{% if ap.BSSID %}<a href="{% url "network" ap.BSSID %}">{{ ap.BSSID }}{%endif%}</a></td>
<td>{% if ap.lat %} {{ ap.lat }} {% endif %}</td>
<td>{% if ap.lon %} {{ ap.lon }} {% endif %}</td>
<td>{{ ap.comment }}</td>
<td>{{ ap.lastprobed_date }}</td>
<td>
{% if ap.SSID %}<a href="{% url "locatessid" ap.SSID %}">{% endif %}
{% if ap.BSSID %}<a href="{% url "applewloc" ap.BSSID %}">{% endif %}
<img src="/static/locate.png"></a>
</td>
</tr>
 {% endfor %}
</table>
{% endblock %}
