<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   UsbVendorsRT2570.plist
   KisMAC

   Created by pr0gg3d on 10/04/08.
   Copyright 2008 __MyCompanyName__. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>Melco1</key>
        <dict>
            <key>idProduct</key>
            <integer>102</integer>
            <key>idVendor</key>
            <integer>1041</integer>
        </dict>
        <key>Melco2</key>
        <dict>
            <key>idProduct</key>
            <integer>103</integer>
            <key>idVendor</key>
            <integer>1041</integer>
        </dict>
        <key>Belkin1</key>
        <dict>
            <key>idProduct</key>
            <integer>28752</integer>
            <key>idVendor</key>
            <integer>1293</integer>
        </dict>
        <key>Belkin2</key>
        <dict>
            <key>idProduct</key>
            <integer>28753</integer>
            <key>idVendor</key>
            <integer>1293</integer>
        </dict>
        <key>GUILLEMOT</key>
        <dict>
            <key>idProduct</key>
            <integer>57344</integer>
            <key>idVendor</key>
            <integer>1784</integer>
        </dict>
        <key>SMC</key>
        <dict>
            <key>idProduct</key>
            <integer>60947</integer>
            <key>idVendor</key>
            <integer>1799</integer>
        </dict>
        <key>ASUS1</key>
        <dict>
            <key>idProduct</key>
            <integer>5894</integer>
            <key>idVendor</key>
            <integer>2821</integer>
        </dict>
        <key>ASUS2</key>
        <dict>
            <key>idProduct</key>
            <integer>5895</integer>
            <key>idVendor</key>
            <integer>2821</integer>
        </dict>
        <key>MSI1</key>
        <dict>
            <key>idProduct</key>
            <integer>26721</integer>
            <key>idVendor</key>
            <integer>3504</integer>
        </dict>
        <key>MSI2</key>
        <dict>
            <key>idProduct</key>
            <integer>26725</integer>
            <key>idVendor</key>
            <integer>3504</integer>
        </dict>
        <key>MSI3</key>
        <dict>
            <key>idProduct</key>
            <integer>26729</integer>
            <key>idVendor</key>
            <integer>3504</integer>
        </dict>
        <key>Gigabyte1</key>
        <dict>
            <key>idProduct</key>
            <integer>32769</integer>
            <key>idVendor</key>
            <integer>4164</integer>
        </dict>
        <key>Gigabyte2</key>
        <dict>
            <key>idProduct</key>
            <integer>32775</integer>
            <key>idVendor</key>
            <integer>4164</integer>
        </dict>
        <key>Spairon</key>
        <dict>
            <key>idProduct</key>
            <integer>272</integer>
            <key>idVendor</key>
            <integer>4427</integer>
        </dict>
        <key>Cisco Systems1</key>
        <dict>
            <key>idProduct</key>
            <integer>13</integer>
            <key>idVendor</key>
            <integer>5041</integer>
        </dict>
        <key>Cisco Systems2</key>
        <dict>
            <key>idProduct</key>
            <integer>17</integer>
            <key>idVendor</key>
            <integer>5041</integer>
        </dict>
        <key>Cisco Systems3</key>
        <dict>
            <key>idProduct</key>
            <integer>26</integer>
            <key>idVendor</key>
            <integer>5041</integer>
        </dict>
        <key>Ralink1</key>
        <dict>
            <key>idProduct</key>
            <integer>5894</integer>
            <key>idVendor</key>
            <integer>5263</integer>
        </dict>
        <key>Ralink2</key>
        <dict>
            <key>idProduct</key>
            <integer>9584</integer>
            <key>idVendor</key>
            <integer>5263</integer>
        </dict>
        <key>Ralink3</key>
        <dict>
            <key>idProduct</key>
            <integer>36896</integer>
            <key>idVendor</key>
            <integer>5263</integer>
        </dict>
        <key>Conceptronic</key>
        <dict>
            <key>idProduct</key>
            <integer>15362</integer>
            <key>idVendor</key>
            <integer>5298</integer>
        </dict>
        <key>Eminent</key>
        <dict>
            <key>idProduct</key>
            <integer>9584</integer>
            <key>idVendor</key>
            <integer>5368</integer>
        </dict>
        <key>D-LINK</key>
        <dict>
            <key>idProduct</key>
            <integer>15360</integer>
            <key>idVendor</key>
            <integer>8193</integer>
        </dict>
        <key>Nintendo</key>
        <dict>
            <key>idProduct</key>
            <integer>139</integer>
            <key>idVendor</key>
            <integer>1041</integer>
        </dict>
        <key>Zinwell</key>
        <dict>
            <key>idProduct</key>
            <integer>608</integer>
            <key>idVendor</key>
            <integer>23127</integer>
        </dict>
        <key>Novatech</key>
        <dict>
            <key>idProduct</key>
            <integer>36896</integer>
            <key>idVendor</key>
            <integer>3760</integer>
        </dict>
    </dict>
</plist>
