.deps
.libs
.dirstamp
*.la
*.lo
*.o
*.swp
*.patch
Makefile
Makefile.in
defs.h.in
defs.h.in~
/lib/stamp-h1

/libnl-1.pc
/lib/defs.h
cscope.*
/tags

/aclocal.m4
/autom4te.cache
/build-aux/
/config.*
/configure
/libtool
/*.pc
