<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kismac</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>devilDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>kismac</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kismap</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>devilDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>kismap</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>KisMAC</string>
	<key>CFBundleGetInfoString</key>
	<string>KisMAC 0.3.3, © 2002-2011 Geoffrey Kruse &amp; KisMAC Community</string>
	<key>CFBundleHelpBookFolder</key>
	<string>KisMACHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>KisMAC Help</string>
	<key>CFBundleIconFile</key>
	<string>devil.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.kismac-ng.kismac</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>KisMAC</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>KisMAC 0.3.3</string>
	<key>CFBundleSignature</key>
	<string>BIKM</string>
	<key>CFBundleVersion</key>
	<string>0.3.3</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>http://update.kismac-ng.org/sparkle/profileInfo.php</string>
	<key>SUPublicDSAKeyFile</key>
	<string>updatePubKey.pem</string>
	<key>SUEnableSystemProfiling</key>
	<string>YES</string>
</dict>
</plist>
