#!/usr/bin/make -f
  
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk

DEB_MAKE_BUILD_TARGET	:= all
DEB_MAKE_ENVVARS	:= DESTDIR=debian/$(cdbs_curpkg)/
DEB_MAKE_INSTALL_TARGET := install DESTDIR=$(DEB_DESTDIR)
