<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>titleText</key>
	<string>Setup TheSSID</string>
	<key>subTitleText</key>
	<string></string>
	<key>completeTitleText</key>
	<string>TheSSID Setup Complete</string>
	<key>completeSubTitleText</key>
	<string>TheSSID has been configured on your system</string>
	<key>mainTitle</key>
	<string>Welcome to the TheSSID Setup Utility</string>
	<key>mainSubTitle</key>
	<string>Please enter your username and password and click &quot;Setup&quot; to connect to TheSSID</string>
	<key>orgName</key>
	<string>WirelessConfig</string>
	<key>debugEnabled</key>
	<false/>
	<key>identifier</key>
	<string>com.github.acidprime.wirelessconfig.yourSSID</string>
	<key>networkRemoveList</key>
	<array>
		<string>oldWEPNetwork</string>
		<string>TheSSID</string>
	</array>
	<key>networkAddList</key>
	<array>
		<dict>
			<key>ssid</key>
			<string>TheSSID</string>
			<key>iath</key>
			<string>MSCHAPv2</string>
			<key>type</key>
			<string>WPA2 Enterprise</string>
			<key>sect</key>
			<string>WPA2 Enterprise</string>
			<key>tkey</key>
			<string>WPA2E</string>
			<key>puid</key>
			<string>f8768ac0-e631-012e-4a33-482a1435a5b8</string>
			<key>suid</key>
			<string>537d12c0-e632-012e-4a35-482a1435a5b8</string>
			<key>mdmh</key>
			<string>com.apple.mdm.acidprime.wallcity.org</string>
			<key>eapt</key>
			<integer>25</integer>
			<key>chan</key>
			<integer>11</integer>
			<key>scop</key>
			<string>System</string>
			<key>orgn</key>
			<string>WirelessConfig</string>
			<key>guid</key>
			<string>7D037974-14F1-43A3-836A-874717407EAE</string>
			<key>keyc</key>
			<string>B789AFFF-DABA-45F2-8E83-D4C5C4D0D655</string>
		</dict>
	</array>
</dict>
</plist>
