<?xml version="1.0"?>
<module
   id      = "POP3-SERVER"
   version = "0.0.0"
   name    = "POP3 Server"
   file    = "pop3.rb"
   class   = "Pop3Server">
   
  <!-- A longer description of what this module is/does -->
  <description>
    A rogue POP3 server that captures user passwords.
  </description>

  <!-- Our IP address is retrieved from the running NETWORK-INTERFACE -->
  <requires id="NETWORK-INTERFACE"/>
  
</module>
